.bier-experience {
    padding: pxToVw(40, 1920) pxToVw(315, 1920) pxToVw(94, 1920) pxToVw(315, 1920);
    position: relative;

    .bg-img-mobile {
        display: none;
    }

    .bg-img {
        display: initial;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: pxToVw(960, 1920);
        z-index: -1;
    }

    .bg-div {
        z-index: 1;
        position: absolute;
        left: 0;
        bottom: pxToVw(-70, 1920);
        width: 100%;
        height: pxToVw(92, 1920);
    }

    .bg-div-mobile {
        display: none;
    }

    .header-bier {
        padding-top: pxToVw(95, 1920);

        h1 {
            -webkit-text-stroke: 2px #e1251b;
            color: transparent;
            font-family: 'Barlow Condensed';
            font-size: pxToVw(120, 1920);
            font-weight: bold;
            line-height: 1.2;
            margin: 0;
        }

        span {
            font-family: 'Rubik One';
            font-size: pxToVw(70, 1920);
            line-height: 0.8;
            color: #ffffff;
        }

        p {
            font-family: 'Barlow Condensed';
            font-size: pxToVw(24, 1920);
            line-height: 1.1;
            color: #ffffff;
            padding-top: pxToVw(35, 1920);
            margin: 0;
        }

        img {
            position: absolute;
            right: pxToVw(271, 1920);
            top: pxToVw(125, 1920);
            height: pxToVw(265, 1920);
            z-index: 1;
        }
    }

    .pub-and-kombi {
        margin-top: pxToVw(70, 1920);
        font-size: 0;

        .item{
            position: relative;
            display: inline-block;

            &:last-child {
                margin-left: pxToVw(30, 1920);
            }

            .text {
                position: absolute;
                bottom: pxToVw(72, 1920);
                left: pxToVw(40, 1920);
                font-family: 'Rubik One';
                font-size: pxToVw(40, 1920);
                line-height: 1.0;
                color: #ffffff;

                .text-strong {
                    font-size: pxToVw(80, 1920);
                    line-height: 1;
                }

            }

            .item-img {
                width: pxToVw(615, 1920);
            }
        }


    }



    @media(max-width: 768px) {
        padding: pxToVw(0, 375) pxToVw(15, 375) pxToVw(78, 375) pxToVw(15, 375);

        .bg-img {
            display: none;
        }

        .bg-img-mobile {
            display: initial;
            position: absolute;
            right: 0;
            top: 0;
            width: auto;
            z-index: -1;
        }

        .bg-div {
            display: none;
        }

        .bg-div-mobile {
            display: initial;
            position: absolute;
            left: 0;
            bottom: pxToVw(-70, 375);
            width: 100%;
            z-index: 1;
        }

        .header-bier {
            h1 {
                margin-top: pxToVw(45, 375);
                font-size: pxToVw(80, 375);
            }

            span {
                font-size: pxToVw(38, 375);
            }

            p {
                font-size: pxToVw(18, 375);
                margin-bottom: pxToVw(35, 375);
            }

            img {
                right: pxToVw(19, 375);
                top: pxToVw(42, 375);
                height: pxToVw(104, 375);
            }
        }
    .pub-and-kombi {
            margin: 0;
            font-size: 0;
        .item {
            display: block;

            &:last-child {
                margin-left: pxToVw(0, 375);
                padding-top: pxToVw(15, 375);
            }
            .item-img {
                width: 100%;
                height: pxToVw(225, 375);
            }
            .text {
                bottom: pxToVw(36, 375);
                left: pxToVw(32, 375);
                font-size: pxToVw(20, 375);

                .text-strong {
                        font-size: pxToVw(38, 375);
                }
            }
        }
    }
    }

}