.connect-dado {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        list-style-type: none;
        z-index: -2;

        li {
            width: 20%;
            height: pxToVw(384, 1920);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: pxToVw(768, 1920);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .bg-insta {
            display: initial;
            width: pxToVw(768, 1920);
        }

        .bg-insta-mobile {
            display: none;
        }

        .dado {
            display: initial;
            position: absolute;
            width: pxToVw(100, 1920);
        }
        
        .dado-mobile {
            display: none;
        }

        .main-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;

            .block-connect {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo-instagram {
                    margin-right: pxToVw(15, 1920);
                    width: pxToVw(44, 1920);
                }

                .logo-instagram-mobile {
                    display: none;
                }

                h3 {
                    font-family: 'Barlow Condensed';
                    font-size: pxToVw(30, 1920);
                    font-weight: 500;
                    color: #000000;
                    margin: 0;
                }
            }

            .block-dado {
                h4 {
                    font-family: 'Rubik';
                    font-size: pxToVw(34, 1920);
                    font-weight: bold;
                    color: #000000;
                }
            }

            .slash-yellow {
                width: pxToVw(100, 1920);
                height: 2px;
                background-color: #ffb800;
                margin: pxToVw(30, 1920) pxToVw(0, 1920);
            }
        }
    }

    .bg-div {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }



    //Inicio do Mobile//

    @media(max-width: 768px) {
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        ul {
    
            li {
                width: 50%;
                height: pxToVw(188, 375);
    
                img {
                }
            }
        }
    
        .main {
            width: 100%;

            .bg-insta {
                display: none;
            }

            .bg-insta-mobile {
                width: 100%;
                display: initial;
            }

            .dado {
                display: none;
            }
            
            .dado-mobile {
                display: initial;
                position: absolute;
                width: pxToVw(88, 375);
            }
    
            .main-text{
                height: pxToVw(110, 375);

                .block-connect {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    .logo-instagram {
                        display: none;
                    }

                    .logo-instagram-mobile {
                        margin-right: pxToVw(15, 375);
                        display: initial;
                    }
    
                    h3 {
                        font-size: pxToVw(22.1, 375);
                        white-space: nowrap
                    }
                }
    
                .block-dado {
                    h4 {
                        font-size: pxToVw(22, 375);
                        margin: 0;
                    }
                }
    
                .slash-yellow {
                    width: pxToVw(100, 375);
                    margin: pxToVw(15, 375) pxToVw(55, 375);
                }
            }
        }
    
        .bg-div {
            height: pxToVw(40, 375);
            bottom: pxToVw(10, 375);
        }
    }
}