.menu {
    width: 5.2vw;
    height: 5.2vw;
    top: 2.6vw;
    right: 2.6vw;
    background-color: rgba(13, 13, 13, 0.8);
    position: fixed;
    z-index: 2;
    .hamburguer {
        width: 1.87vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @media (max-width: 768px) {
        width: 60px;
        height: 60px;
        top: pxToVw(34, 375);
        right: pxToVw(20, 375);
        
        .hamburguer {
            width: 22px;
            height: 16px;
        }
    }
}
.home-header{
    position: relative;
    .bg-img {
        width: 100%;
        display: initial;
    }
    .bg-img-mobile {
        display: none;
    }
    .logo {
        position: absolute;
        top: 4.9vh;
        left:50%;
        transform: translateX(-50%);
        width: 8.8vw;
        z-index: 1;
    }
    .bg-div {
        width: 100%;
        bottom: -4.3vh;
        left: 0;
        position: absolute;
    }
    .shadow-header {
        position: absolute;
        top:0;
        width: 100%;
        height: 25vh;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0));
    }
    h1 {
        color: #ffffff;
        font-family: 'Rubik One';
        left: 16.25vw;
        top: 55%;
        font-size: 5.2vw;
        line-height: 0.8;
        position: absolute;
        z-index: 1;
        transform: translateY(-50%);
        .title-orange {
            color: #ffb800;
            font-family: 'Barlow Condensed';
            line-height: 0.8;
            font-weight: bold;
            transform: translateY(-1vh);
        }
        .title-orange-outline {
            font-family: 'Barlow Condensed';
            font-size: 7.81vw;
            line-height: 0.75;
            font-weight: bold;
            -webkit-text-stroke: 2px #ffb800;
            color: transparent;
        }
    }
    .social-links {
        position: absolute;
        left: 4.84vw;
        bottom: 8.51vh;
        z-index: 1;
        .social-images {
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 2.96vh;
                width: 0.95vw;
            }
        }
        .line {
            left: 50%;
            width: 1px;
            height: 9.25vh;
            margin-bottom: 2.96vh;
            background-color: #ffffff;
            transform: translateX(-50%);
            position: relative;
        }
        .follow-dado {
            font-family: 'Rubik One';
            color: #ffffff;
            font-size: 0.9vw;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }
    }
    @media (max-width: 768px) {
        .logo {
            width: 97px;
            height: 67.2px;
        }
        h1 {
            font-size: pxToVw(41.4, 375);
            left: 20px;
            .title-orange-outline {
                font-size: pxToVw(62.1, 375);
                -webkit-text-stroke: 0.8px #ffb800;
            }
        }
        
        .bg-img {
            height: 86.95vh;
            width: auto;
            position: relative;
            display: none;
        }
        
        .bg-div {
            bottom: -1px;
        }
        
        .bg-img-mobile {
            width: 100%;
            height: 580px;
            display: initial;
        }
        
        .logo {}
        
        .social-links {
            display: none;
        }
    }
}
