.portfolio{
    position: relative;
    padding: pxToVw(40, 1920) pxToVw(315, 1920) pxToVw(1, 1920) pxToVw(315, 1920);

    .bg-img{
        position: absolute;
        right: 0vw;
        top: 0vh;
        width: pxToVw(1201, 1920);
        height: pxToVw(1186, 1920);
        z-index: -1;
    }

    .bg-draw {
        position: absolute;
        left: pxToVw(131, 1920);
        top: 0vh;
        width: pxToVw(408.2, 1920);
        height: pxToVw(444.3, 1920);
    }

    .bg-div {
        position: absolute;
        left: 0;
        bottom: pxToVw(-90, 1920);
        width: 100%;
        z-index: 1;
    }

    .name-header {
        position: relative;
        padding: pxToVw(123, 1920) pxToVw(0, 1920) pxToVw(120, 1920) pxToVw(110, 1920);

        img {
            position: absolute;
            right: 0;
            top: 0;
            width: pxToVw(514, 1920);
            height: pxToVw(539, 1920);
        }

        h1 {
            font-family: 'Rubik One';
            font-size: pxToVw(70, 1920);
            line-height: 0.8;
            color: #ffb800;
            margin-bottom: pxToVw(15, 1920);
        }

        span {
            font-family: 'Barlow Condensed';
            font-size: pxToVw(30, 1920);
            line-height: 1.0;
            color: #000000;
        }

        p {
            font-family: 'Barlow';
            font-size: pxToVw(16, 1920);;
            line-height: 1.2;
            color: #000000;
            margin: pxToVw(15, 1920) pxToVw(0, 1920) pxToVw(0, 1920) pxToVw(0, 1920);
        }
    }

    .block-search-beer {
        width: 100%;
        height: pxToVw(233, 1920);
        background-color: #0d0d0d;
        padding: pxToVw(49, 1920) pxToVw(110, 1920) pxToVw(61, 1920) pxToVw(110, 1920);
        font-size: 0;

        h2 {
            font-family: 'Barlow Condensed';
            font-size: pxToVw(30, 1920);
            font-weight: 500;
            color: #ffb800;
            margin-bottom: pxToVw(27, 1920);
        }

        .form-container {
            width: pxToVw(510, 1920);
            height: pxToVw(60, 1920);
            border: none;
            background-color: #f1f1f1;
            position: relative;
            float: left;

            &:last-child{
                float: right;
            }

            .arrow {
                position: absolute;
                right: pxToVw(14, 1920);
                top: 50%;
                width: pxToVw(30, 1920);
                transform: translateY(-50%);
            }

            select {
                padding-left: pxToVw(30, 1920);
                font-family: 'Barlow';
                font-size: pxToVw(20, 1920);
                font-weight: 600;
                color: #333333;
                width: 100%;
                height: 100%;
                border: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
        }
    }

    .catalog {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: pxToVw(82, 1920);

        .beer {
            display: flex;
            justify-content: center;
            font-size: 0;
            flex-direction: column;
            align-items: center;
            flex: 1 1 33.333%;
            padding: pxToVw(15, 1920) pxToVw(58, 1920) pxToVw(58, 1920) pxToVw(58, 1920);
            &:nth-child(odd) {background: #ffc328}
            &:nth-child(even) {background: #ffb800}

            &:hover {
                span {
                    color: black;
                }
            }

            img {
                height: pxToVw(300, 1920);
                padding-bottom: pxToVw(20, 1920);
            }

            span {
                text-align: center;
                height: pxToVw(24.5, 1920);
                font-family: 'Rubik One';
                font-size: pxToVw(30, 1920);
                line-height: 1.05;
                color: #ffffff;
                transition: color 300ms ease-in-out;
            }
        }
    }

    @media(max-width: 768px) {
        padding: 0;

        .bg-div {
            bottom: pxToVw(-45, 375);
        }

        .block-search-beer {
            height: pxToVw(233, 375);
            padding: pxToVw(30, 375) pxToVw(15, 375) pxToVw(30, 375) pxToVw(15, 375);
            margin-bottom: pxToVw(43, 375);

            h2 {
                font-size: pxToVw(21, 375);
                margin-bottom: pxToVw(27, 375);
            }

            .form-container {
                float: none;
                width: 100%;
                height: pxToVw(50, 375);

                .arrow {
                    width: pxToVw(30, 375);
                    height: pxToVw(30, 375);
                }

                select {
                    font-size: pxToVw(16, 375);
                }

                &:last-child{
                    margin-top: pxToVw(20, 375);
                }
            }

        }

        .catalog {
            .beer {
                flex: 1 1 50%;
                padding: pxToVw(12, 375) pxToVw(42, 375) pxToVw(50, 375) pxToVw(42, 375);
                border: 0.5px solid #ffffff;

            img {
                height: pxToVw(130, 375);
                padding-bottom: pxToVw(20, 375);
            }

            span {
                font-size: pxToVw(13, 375);
            }

            }
        }

        .bg-img {
            display: none;
            visibility: hidden;
        }

        .bg-draw {
            display: none;
            visibility: hidden;
        }

        .name-header {
            padding: pxToVw(40, 375) pxToVw(14, 375) pxToVw(30, 375) pxToVw(20, 375);

            img {
                display: none;
                visibility: hidden;
            }

            h1 {
                font-size: pxToVw(38, 375);
                margin-bottom: pxToVw(65, 1920);
            }

            span {
                font-size: pxToVw(21, 375);
            }

            p {
                font-size: pxToVw(12, 375);
            }

        }
    }
}
