.restaurants {
position: relative;
overflow: hidden;

    .slider {
        .slide {
            z-index: -1;
            position: relative;
            height: pxToVw(855, 1920);

            .bg {
                display: initial;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                z-index: -1;
            }

            .bg-mobile {
                display: none;
            }

            .main-text {
                padding: pxToVw(159, 1920) pxToVw(746, 1920) pxToVw(0, 1920) pxToVw(746, 1920);
                text-align: center;
        
                .title-orange {
                    font-family: 'Barlow Condensed';
                    font-size: pxToVw(30, 1920);
                    font-weight: 600;
                    line-height: 1.1;
                    color: #ffb800;
                    margin-bottom: pxToVw(70, 1920);
                }
        
                h1 {
                    font-family: 'Rubik One';
                    font-size: pxToVw(76, 1920);
                    line-height: 0.9;
                    color: #ffffff;
                    margin: pxToVw(70, 1920) pxToVw(0, 1920) pxToVw(70, 1920) pxToVw(0, 1920);
                }
        
                .text-white {
                    font-family: 'Barlow';
                    font-size: pxToVw(16, 1920);
                    font-weight: 500;
                    line-height: 1.1;
                    color: #ffffff;
                }
        
                .saiba-mais {
                    width: pxToVw(191, 1920);
                    height: pxToVw(70, 1920);
                    border: solid 3px #ffb800;
                    position: relative;
                    margin: 0 auto;
                    margin-top: pxToVw(45, 1920);
        
                    span {
                        font-family: 'Barlow Condensed';
                        font-size: pxToVw(20, 1920);
                        font-weight: 600;
                        letter-spacing: pxToVw(2, 1920);
                        color: #ffffff;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: max-content;
                        transform: translate(-50%, -50%);
        
                    }
                }
            }

            .slick-dots {
                bottom: pxToVw(35, 1920);

                li {
                    width: pxToVw(51.9, 1920);
                    margin: 0 pxToVw(4.05, 1920);

                    button {
                        &:before {
                            border-radius: 0;
                            width: 100%;
                            height: 3px;
                            background-color: #ffffff;
                            opacity: 1;
                            content: "";
                            line-height: initial;
                            transition: background-color 0.3s ease-in-out;
                        }
                    }

                    &.slick-active {
                        button {
                            &:before {
                                background-color: #ffb800;
                            }
                        }
                    }
                }
            }
        }
    }

    .arrow-rigth {
        right: pxToVw(105, 1920);
        top: pxToVw(382, 1920);
        height: pxToVw(96, 1920);
        position: absolute;
        z-index: 1;
    }

    .arrow-left {
        left: pxToVw(105, 1920);
        top: pxToVw(382, 1920);
        height: pxToVw(96, 1920);
        position: absolute;
        transform: rotateY(180deg);
        z-index: 1;
    }


    .bg-div {
        position: absolute;
        display: initial;
        width: 100%;
        left: 0;
        bottom: pxToVw(-20, 1920);
        z-index: 1;
    }

    .bg-div-mobile {
        display: none;
    }


    @media(max-width: 768px) {
        height: pxToVw(740, 375);

        .arrow-left {
            left: pxToVw(1, 375);
            top: pxToVw(328, 375);
            height: pxToVw(63, 375);
        }

        .arrow-rigth {
            right: pxToVw(1, 375);
            top: pxToVw(328, 375);
            height: pxToVw(63, 375);
        }

        .slider {
            .slide{
                height: pxToVw(740, 375);

                .bg-mobile {
                    display: initial;
                    width: 100%;
                    position: absolute;
                    z-index: -1;
                }

                .bg {
                    display: none;
                }

                .main-text {
                    padding: pxToVw(207, 375) pxToVw(63, 375) pxToVw(0, 375) pxToVw(63, 375);
        
                    .title-orange {
                        font-size: pxToVw(21, 375);
                    }
        
                    h1 {
                        font-size: pxToVw(38, 375);
                    }
        
                    .text-white {
                        font-size: pxToVw(14, 375);
                    }
        
                    .saiba-mais {
                        width: pxToVw(165, 375);
                        height: pxToVw(50, 375);
                        margin-top: pxToVw(45, 375);
        
                        span {
                            font-size: pxToVw(20, 375);
                        }
                    }
        
                }
            }

            .slick-dots {
                bottom: pxToVw(87, 375);

                li {
                    width: pxToVw(37.3, 375);
                    margin: 0 pxToVw(4.05, 375);
                }
            }
        }


        .bg-div {
            display: none;
        }

        .bg-div-mobile {
            display: initial;
            position: absolute;
            height: pxToVw(101, 375);
            left: 0;
            bottom: 0;
            z-index: 1;
        }

    }

}