$primary-color: #ffb800;
$secondary-color: #e1251b;
$tertiary-color: #efb81f;
$quaternary-color: #ffc328;
$gray: #f5f5f6;
$gray2: #ebebeb;
$gray3: #6d6d6d;
$gray4: #333333;
$gray5: #323232;
$gray6: #828282;
$black: #000000;
$black2: #0f0f0f;
$black3: #111111;
$black4: #161616;
$black5: #0d0d0d;
$black6: #121212;
$white: #ffffff;